<div id="app">
  <div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
      <div class="sidebar-header">
        <div class="d-flex justify-content-between">
          <div class="logo">
            <!-- <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a> -->
            <h4 class="text-subtitle text-muted">GERCONTRAT</h4>
          </div>
          <div class="toggler">
            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
          </div>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul class="menu">
          <li class="sidebar-title">Menu</li>

          <li class="sidebar-item  ">
            <a routerLink="monitoramento" class='sidebar-link'>
              <i class="bi bi-grid-fill"></i>
              <span>Monitoramento</span>
            </a>
          </li>

          <li class="sidebar-title">Cadastros</li>

          <li class="sidebar-item  active">
            <a routerLink="contrato-cadastrar" class='sidebar-link'>
              <i class="bi bi-cash"></i>
              <span>Contratos Financeiros</span>
            </a>
          </li>

        </ul>
      </div>
      <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
  </div>

  <div id="main">
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>

    <div class="page-heading">
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-md-6 order-md-1 order-last">
            <h3></h3>
            <p class="text-subtitle text-muted"></p>
          </div>
          <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="monitoramento">Monitoramento</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cadastro de Contratos Financeiros</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>

      <section id="multiple-column-form">
        <div class="row match-height">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Cadastro de Contratos Financeiros</h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <form class="form">

                    <div class="row">

                      <div class="col-md-6 col-12">
                        <div class="form-group">
                          <label for="pessoa-juridica">Instituição Financeira</label>
                          <fieldset class="form-group">
                            <select id="pessoa-juridica" class="form-select">
                              <option>Selecione</option>
                              <option *ngFor="let item of pessoaList">{{item.nome}}</option>
                            </select>
                          </fieldset>
                        </div>
                      </div>

                      <div class="col-md-6 col-12">
                        <div class="form-group">
                          <label for="tipo-contrato">Tipo de Contrato</label>
                          <fieldset class="form-group">
                            <select id="tipo-contrato" class="form-select">
                              <option>Selecione</option>
                              <option *ngFor="let item of tipoContratoList">{{item.descricao}}</option>
                            </select>
                          </fieldset>
                        </div>
                      </div>

                    </div>

                    <div class="row"><br/></div>

                    <div class="row">

                      <div class="col-md-4 col-12">
                        <div class="form-group">
                          <label for="periodo-contrato">Período do Contrato</label>
                          <fieldset class="form-group">
                            <select id="periodo-contrato" class="form-select">
                              <option>Selecione</option>
                              <option *ngFor="let item of tipoPeriodoFinanceiroList">{{item.descricao}}</option>
                            </select>
                          </fieldset>
                        </div>
                      </div>

                      <div class="col-md-4 col-12">
                        <div class="form-group">
                          <label for="country-floating">Data Início da Vigência</label>
                          <input type="text" id="country-floating" class="form-control" name="country-floating" placeholder="DD/MM/AAAA">
                        </div>
                      </div>

                      <div class="col-md-4 col-12">
                        <div class="form-group">
                          <label for="valor-contrato">Valor Recebido</label>
                          <input type="text" id="valor-contrato" class="form-control" name="country-floating" placeholder="R$ 00,00">
                        </div>
                      </div>

                    </div>

                    <div class="row"><br/></div>

                    <div class="row">

                      <div class="col-md-4 col-12">
                        <div class="form-group">
                          <label for="valor-contrato">Valor da Parcela</label>
                          <input type="text" id="valor-contrato" class="form-control" name="country-floating" placeholder="R$ 00,00">
                        </div>
                      </div>

                      <div class="col-md-4 col-12">
                        <div class="form-group">
                          <label for="company-column">Dia do Vencimento</label>
                          <input type="text" id="company-column" class="form-control" name="company-column" placeholder="DD">
                        </div>
                      </div>

                      <div class="col-md-4 col-12">
                        <div class="form-group">
                          <label for="quantidade-parcelas">Quantidade de Parcelas</label>
                          <input type="text" id="quantidade-parcelas" class="form-control" name="company-column" placeholder="Quantidade de Parcelas">
                        </div>
                      </div>

                    </div>

                    <div class="row"><br/></div>

                      <div class="col-12 d-flex justify-content-end">
                        <button id="background" class="btn btn-primary btn-block me-1 mb-1">Cadastrar Contrato</button>
                        <button type="reset" class="btn btn-danger me-1 mb-1">Cancelar</button>
                      </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <div class="footer clearfix mb-0 text-muted">
        <!--        <div class="float-start">-->
        <!--          <p>2021 &copy; Mazer</p>-->
        <!--        </div>-->
        <!--        <div class="float-end">-->
        <!--          <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a-->
        <!--            href="http://ahmadsaugi.com">A. Saugi</a></p>-->
        <!--        </div>-->
      </div>
    </footer>

  </div>
</div>
