<div class="panel-header bg-primary-gradient">
  <div class="page-inner py-5">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row"></div>
  </div>
</div>

<div class="page-inner mt--5">

  <div class="row">

    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
          <div class="card-title">Cadastro de Contratos Financeiros</div>
        </div>
        <div class="card-body">

          <form [formGroup]="formBuilderGroup" class="form">

            <div class="row">

              <div class="col-md-6 col-lg-4">
                <div class="form-group">
                  <label for="tipo-contrato-financeiro">Tipo de Contrato Financeiro</label>
                  <select id="tipo-contrato-financeiro" name="tipo-contrato-financeiro" formControlName="codigoTipoContrato" class="form-control">
                    <option value="">Selecione</option>
                    <option *ngFor="let item of pessoaTipoContratoList" [value]="item.codigo">{{item.descricao}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="form-group">
                  <label for="intituicao-financeira">Instituição Financeira</label>
                  <select id="intituicao-financeira" name="intituicao-financeira" formControlName="codigoInstituicaoFinanceira" class="form-control">
                    <option value="">Selecione</option>
                    <option *ngFor="let item of pessoaJuridicaList" [value]="item.codigo">{{item.nome}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="form-group">
                  <label for="tipo-periodo-financeiro">Período Financeiro</label>
                  <select id="tipo-periodo-financeiro" name="tipo-periodo-financeiro" formControlName="codigoTipoPeriodo" class="form-control">
                    <option value="">Selecione</option>
                    <option *ngFor="let item of pessoaTipoPeriodoFinanceiroList" [value]="item.codigo">{{item.descricao}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-6 col-lg-4">
                <div class="form-group">
                  <label for="data-inicio">Data Início da Vigência do Contrato</label>
                  <input type="date" id="data-inicio" name="data-inicio" formControlName="dataInicio" class="form-control">
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="form-group">
                  <label for="valor-recebido">Valor Recebido</label>
                  <input type="text" id="valor-recebido" name="valor-recebido" formControlName="valorEfetivo" placeholder="R$ 00,00" class="form-control">
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="form-group">
                  <label for="valor-parcela">Valor da Parcela</label>
                  <input type="text" id="valor-parcela" name="valor-parcela" placeholder="R$ 00,00" formControlName="valorParcela" class="form-control">
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="dia-vencimento">Dia do Vencimento</label>
                  <input type="text" id="dia-vencimento" name="dia-vencimento" formControlName="diaVencimento" class="form-control">
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="quantidade-parcela">Quantidade de Parcelas</label>
                  <input type="text" id="quantidade-parcela" name="quantidade-parcela" formControlName="quantidadeParcela" class="form-control">
                </div>
              </div>
            </div>

            <div class="row"><br /></div>

            <div class="row">
              <div class="col-md-6 col-lg-10">
                <button id="background" [disabled]="!formBuilderGroup.valid" (click)="saveOne()" class="btn btn-primary btn-block me-1 mb-1">Cadastrar
                  Contrato</button>
              </div>
              <div class="col-md-6 col-lg-2">
                <button id="background" (click)="redirecionarPaginaGerenciadorContrato()"
                  class="btn btn-danger btn-block btn-border me-1 mb-1">Cancelar</button>
              </div>

            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isApresentarMensagemSucesso" data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-success"
  role="alert" data-notify-position="top-right"
  style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
  <span data-notify="icon" class="none">
  </span>
  <span data-notify="title">Mensagem</span> <span data-notify="message">Contrato Financeiro cadastrado com
    Sucesso!</span>
</div>

<div *ngIf="isApresentarMensagemErro" data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-danger"
  role="alert" data-notify-position="top-right"
  style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
  <span data-notify="icon" class="none">
  </span>
  <span data-notify="title">Mensagem</span> <span data-notify="message">Erro ao tentar cadastrar o Contrato
    Financeiro!</span>
</div>
