<div class="panel-header bg-primary-gradient">
  <div class="page-inner py-5">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row"></div>
  </div>
</div>

<div class="page-inner mt--5">

  <div class="row">

    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
          <div class="card-title">Cadastro de Contratos Financeiros</div>
        </div>
        <div class="card-body">

          <div class="row">

            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Tipo de Contrato Financeiro</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option value="">Selecione</option>
                  <option>Contrato de Empréstimo Bancário</option>
                  <option>Contrato de Empréstimo Pessoa Física</option>
                  <option>Contrato de Acessoria Jurídica</option>
                </select>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Instituição Financeira</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option value="">Selecione</option>
                  <option>Banco do Brasil</option>
                  <option>Banco Digio</option>
                  <option>Banco C6 Bank</option>
                  <option>Banco Nubank</option>
                  <option>Banco Caixa Econômica Federal</option>
                </select>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Período Financeiro</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option value="">Selecione</option>
                  <option>Quinzenal</option>
                  <option>Mensal</option>
                  <option>Anual</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label for="email2">Data Início da Vigência do Contrato</label>
                <input type="date" class="form-control" id="email2">
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label for="email2">Valor Recebido</label>
                <input type="text" class="form-control" id="email2" placeholder="R$ 00,00">
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="form-group">
                <label for="email2">Valor da Parcela</label>
                <input type="text" class="form-control" id="email2" placeholder="R$ 00,00">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label for="email2">Dia do Vencimento</label>
                <input type="text" class="form-control" id="email2">
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label for="email2">Quantidade de Parcelas</label>
                <input type="text" class="form-control" id="email2" placeholder="R$ 00,00">
              </div>
            </div>
          </div>

          <div class="row"><br /></div>

          <div class="row">
            <div class="col-md-6 col-lg-10">
                <button id="background" (click)="saveOne()" class="btn btn-primary btn-block me-1 mb-1">Cadastrar Contrato</button>
            </div>
            <div class="col-md-6 col-lg-2">
                <button id="background" (click)="cancelar()" class="btn btn-danger btn-block btn-border me-1 mb-1">Cancelar</button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isApresentarMensagemSucesso" data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-primary"
  role="alert" data-notify-position="top-right"
  style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
  <span data-notify="icon" class="none">
  </span>
  <span data-notify="title">Mensagem</span> <span data-notify="message">Contrato Financeiro cadastrado com
    Sucesso!</span>
</div>

<div *ngIf="isApresentarMensagemErro" data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-danger"
  role="alert" data-notify-position="top-right"
  style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; right: 20px;">
  <span data-notify="icon" class="none">
  </span>
  <span data-notify="title">Mensagem</span> <span data-notify="message">Erro ao tentar cadastrar o Contrato Financeiro!</span>
</div>
